<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gate Pass</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <!-- <a class="navbar-brand" href="#">Gatepass</a> -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <!-- Left-aligned item -->
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active text-primary " href="#" style="font-weight: 700; font-size: 18px;">Home</a>
                    </li>
                </ul>
                <!-- Right-aligned item -->
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/accounts/logout">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container text-center p-0 p-md-5">
        <div class="row">

            <div class="col-md-4">
                <div class="card text-center" >
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS_Upg5hSLUdAHImorOh4FCnToNmlf9rEjjxA&s" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-text">My Profile</h5>
                    </div>
                  </div>
            </div>

            <div class="col-md-4">
                <div class="card text-center" >
                    <img src="https://img.freepik.com/premium-vector/electric-train-gate-pass-icon-isometric-electric-train-gate-pass-vector-icon-web-design-isolated-white-background_96318-55765.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-text">Gate Pass</h5>
                    </div>
                  </div>
            </div>


            <div class="col-md-4">
                <div class="card text-center" >
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRe8mfudNL9pClvewrM-HunlHRJMABYiSrLSw&s" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-text">Help</h5>
                    </div>
                  </div>
            </div>
           
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
<style>
    .card {
        width: 100% !important;
        border: 1px solid #ddd;
        border-radius: 0;
    }
    .card img {
        width: 70%;
        margin: 0 auto; /* Horizontally centers the image */
        display: block; /* Ensures the image behaves like a block element */
        mix-blend-mode: multiply;
    }
</style>

</body>
</html>
